<%- include('layouts/outerheader'); -%>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
<style>
.information-processing-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
label.text-black-50{
font-size: 15px !important;
}
.acnt_img{
    text-align: center;
    position: relative;
    bottom: 25px;
    right: 15px;}
.acnt_img img{
width:150px;}
.btn{
    padding: 12px;
	}
.border-danger{
border-color: #000!important;
}
.padding_set{
padding: 10px 60px !important;
}
.error-text {
    color: #c0392b;
    font-size: 14px;
}
.requiredError{
color: #c0392b;
    font-size: 14px;
}
.requiredErrorSecurityCheck{
color: #c0392b;
    font-size: 14px;
}
.textonimg {
    position: static;
    font-weight: bold;
    font-size: 20px;
    top: 60%;
    left: 33%;
    transform: none;
}
.pdbtm20{
padding-bottom:20px;
}
.fnt16{
font-size:16px;}
body{
    background-image: none;}
</style>

<body>

<section class="container information-processing-form rounded-2">
  <div class="row d-flex align-items-center">
    <div class="col-sm-6 d-block">
      <img src="/images/fg.png" alt="banner left form" width="100%" class="rounded-5">
    </div>
    <div class="col pt-5">
	<div class="acnt_img">
		<img src="images/logo_transparent.png">
	</div>
      <h3 class="text-center">Forgot Your Password</h3>      
       <% if (successCheck && successCheck.length> 0) { %>
      <form method="post"action="/forgotpassword" id="submitFormValidate">
                        <div> 
                            <div class="form-floating mb-3" >                                
                                <input type="hidden" id="userName" placeholder="Email" name="userName"
                                value="<%= typeof successCheck[0].email !== 'undefined' ? successCheck[0].email : '' %>">
                            </div>
                           
                            <div class="form-floating mb-3">
                                
                                <input id="securityQuestion" placeholder="Security Question" type="hidden" name="securityQuestion"
                                value="<%= typeof successCheck[0].securityQuestion !== 'undefined' ? successCheck[0].securityQuestion : '' %>">                            
                            </div>

                            <div class="form-floating mb-3">
                                <input id="securityAnswer" placeholder="Security Answer" type="hidden" name="securityAnswer"
                            value="<%= typeof successCheck[0].securityAnswer !== 'undefined' ? successCheck[0].securityAnswer : '' %>">
                            </div>

                            <div class="form-floating mb-3" >
                                
                                <input id="password" placeholder="New Password" type="password" name="password" class="inputError form-control input_user shadow-none border-danger">
<label for="email" class="text-black-50">New Password</label>
                            </div>
                            <span role="alert" class="requiredError" aria-hidden="true">
                                Please enter New Password
                            </span>

                            <div class="form-floating mb-3" >
                                
                                <input id="confirmpassword" placeholder="Confirm Password" type="password" name="confirmpassword" class="inputError form-control input_user shadow-none border-danger">
<label for="email" class="text-black-50">Confirm Password</label>
                            </div>
                            <span role="alert" class="requiredError" aria-hidden="true">
                                Please enter Confirm Password
                            </span>
                            
                            <% if (errors && errors.length> 0) { %>
                                <div class="error-message">
                                  <% for (let i=0; i < errors.length; i++) { %>
                                    <p class="error-text">
                                      <%= errors[i].msg %>
                                    </p>
                                    <% } %>
                                </div>
                            <% } %>
                             
                                <input id="submitId" value="Change Password" type="submit" class="btn btn-danger w-100 mb-2 btn login_btn" onclick="validateForm(event)">
                             
                            
                        </div>
                    </form>
	  <% }else { %>
	  <form method="post" action="/forgotpassword-check" id="submitFormValidateSecurityCheck" class="padding_set">
                             
                                <div class="form-floating mb-3" >                                    
                                    <input type="email" id="userName"   placeholder="Email" name="userName" class="inputErrorSecurityCheck form-control input_user shadow-none border-danger">
				<label for="email" class="text-black-50">Email</label>
                                </div>
								
                                <span role="alert" class="requiredErrorSecurityCheck" aria-hidden="true">
                                    Please enter Email
                                </span>
                                <div class="form-floating mb-3">
                                    
                                    <input id="securityQuestion" placeholder="Security Question" type="text" name="securityQuestion" class="form-control input_user shadow-none border-danger inputErrorSecurityCheck"
                                    value="<%= typeof securityQuestion !== 'undefined' ? securityQuestion : '' %>">
									<label for="email" class="text-black-50">Security Question</label>
                                                                </div>
                                <span role="alert" class="requiredErrorSecurityCheck" aria-hidden="true">
                                    Please enter Security Question
                                  </span>

                                  <div class="form-floating mb-3">
                                    
                                    <input id="securityAnswer" placeholder="Security Answer" type="text" name="securityAnswer" class="form-control input_user shadow-none border-danger inputErrorSecurityCheck"
                            value="<%= typeof securityAnswer !== 'undefined' ? securityAnswer : '' %>">
							<label for="email" class="text-black-50">Security Answer</label>
                    </div>
                    <span role="alert" class="requiredErrorSecurityCheck" aria-hidden="true">
                        Please enter Security Answer
                    </span> 
                                <% if (errors && errors.length> 0) { %>
                                    <div class="error-message">
                                      <% for (let i=0; i < errors.length; i++) { %>
                                        <p class="error-text">
                                          <%= errors[i].msg %>
                                        </p>
                                        <% } %>
                                    </div>
                                <% } %>
                                 
                                    <input id="submitIdVal" value="Submit" type="submit" class="btn btn-danger w-100 mb-2 btn login_btn" onclick="validateFormSecurityCheck(event)">
                                 
                                
                            </div>
                        </form>
	   <% } %>
    </div>
  </div>
</section>

	
</body>

    
    <script>
        function validateFormSecurityCheck(e) {
            const form = document.getElementById('submitFormValidateSecurityCheck')
            e.preventDefault();
            const userNameField = document.getElementsByClassName("inputErrorSecurityCheck");
            let vaClass = true;
            for (var i = 0; i < userNameField.length; i++) {
                if (!userNameField[i].value) {
                    vaClass = false;
                    const showRequiredErr = document.getElementsByClassName("requiredErrorSecurityCheck");
                    showRequiredErr[i].classList.add("visible");
                    userNameField[i].classList.add("invalid");
                    showRequiredErr[i].setAttribute("aria-hidden", false);
                    showRequiredErr[i].setAttribute("aria-invalid", true);
                }else{
                    const showRequiredErr = document.getElementsByClassName("requiredErrorSecurityCheck");
                    showRequiredErr[i].classList.remove("visible");
                    userNameField[i].classList.remove("invalid");
                    showRequiredErr[i].setAttribute("aria-hidden", true);
                    showRequiredErr[i].setAttribute("aria-invalid", false);
                }
            }
            if(vaClass){
                form.submit();
            }else{
                return false;
            }
        }
        function validateForm(e) {
            const form = document.getElementById('submitFormValidate')
            e.preventDefault();
            const userNameField = document.getElementsByClassName("inputError");
            let vaClass = true;
            for (var i = 0; i < userNameField.length; i++) {
                if (!userNameField[i].value) {
                    vaClass = false;
                    const showRequiredErr = document.getElementsByClassName("requiredError");
                    showRequiredErr[i].classList.add("visible");
                    userNameField[i].classList.add("invalid");
                    showRequiredErr[i].setAttribute("aria-hidden", false);
                    showRequiredErr[i].setAttribute("aria-invalid", true);
                }else{
                    const showRequiredErr = document.getElementsByClassName("requiredError");
                    showRequiredErr[i].classList.remove("visible");
                    userNameField[i].classList.remove("invalid");
                    showRequiredErr[i].setAttribute("aria-hidden", true);
                    showRequiredErr[i].setAttribute("aria-invalid", false);
                }
            }
            if(vaClass){
                form.submit();
            }else{
                return false;
            }
        }
    </script>
